/* Reset default css  */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,
video {
  margin: 0;
  padding: 0;
  border: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1em
}


/* Tools  */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/* General */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  height: 100%;
  font-size: 16px;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: 'Lato', Helvetica, Arial, Verdana, sans-serif;
  color: #000000;
  font-size: 1.6rem;
  line-height: 1.4;
}

/* Typografie  */

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;

  line-height: 1.1;
}

/* Add margin top to heading when it comes after another piece of content 
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  /* margin-top: 60px; 
}*/

/* Root variables */

:root {
  --black : #000;
  --white: #fff;
  --darker-white: #f5f5f5;
  --darkest-white: #e7e7e7;

  --lighter-gray: #BBBCBC;
  --light-gray: #6e6e6e;
  --gray: #53565a;
  --dark-gray: #444444;

  --svg-fill-whitegreen: #b2fce4;

  

  --border-color: #d2d2d2;
}

/* Custom fonts */

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/Roboto-Bold.ttf);
}

/* Heading 1, Heading 2 */
h1, h2 {
  font-family: 'Montserrat Bold', Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: .1rem;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

/* Heading 3 */
h3 {
  margin-bottom: .5rem;

  font-family: 'Roboto Regular', Helvetica, sans-serif;
  font-size: 1.6rem;
  color: var(--dark-gray);

  line-height: 2.1rem;
}

p {

  font-family: 'Roboto Regular', Helvetica, sans-serif;
  
  margin-top: .5rem;
}

a {
  font-family: 'Montserrat Regular', Helvetica, sans-serif;
  color: var(--black);
  text-decoration: none;
}

a:focus, button:focus {
  outline: blue solid .2rem;
}
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

ul {
  list-style-type: none;
}

ol {
  list-style: decimal;
}

button {
  all: unset;
}

/* source: https://blog.hubspot.com/website/hide-scrollbar-css */
.info-slider ul,
footer > section:nth-of-type(2) ul,
#mens_shop header > ul:last-of-type {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.info-slider ul::-webkit-scrollbar,
footer > section:nth-of-type(2) ul::-webkit-scrollbar,
#mens_shop header > ul:last-of-type::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/*  

After this comment starts own written css
Above is the tweaked version of the reset css to my whishes

Styling header and section

*/

nav ul li:first-of-type button svg,
nav ul li:last-of-type button svg {
  width: 1.7rem;
  height: 1.7rem;  
}

nav ul li:nth-of-type(2) a svg {
  width: 4.7rem;
  height: 3.5rem;
}

/* Start navigation css */

header > nav {
  z-index: 3;
  position: fixed;
  
  width: 100%;
  height: 6.8rem;

  background-color: var(--white);
}

header > nav ul {      
  display: flex;
  flex-direction: row;
  justify-content: center;  

  width: 100%;
  height: 6.8rem;
  margin-bottom: .1rem;

  border-bottom: 0.1rem solid var(--border-color);
}

header > nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

  nav ul li:first-of-type button:first-of-type {
    margin-right: 2rem;
  }

  
  nav ul li:last-of-type button {
    margin-left: 5rem;
  }

header > ul {
  display: flex;

  width: 100%;

  padding-top: 6.8rem;
}

header > ul > a {
  display: flex;
  justify-content: center;
  
  padding: 1.5rem;
  width: 50%;
  height: auto;

  background-color: transparent;
  border: 1px solid var(--darkest-white);

  color: var(--black);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.previewer-large:first-of-type {
  width: 100%;
  height: auto;

  margin: 0 0 2rem;
}

.previewer-large {
  margin: 2rem 0 2rem;
}

.previewer-large figure {
  position: relative;
  
}

.previewer-large figure::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 75%;
  z-index: 1;

  background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,1) 100%);
}

  #mens_shop .previewer-large figure::after {
    background: none;
  }

.previewer-large figure img, video {
  width: 100%;
}

.previewer-large figure figcaption {
  position: absolute;
  bottom: 3rem;
  left: 3rem;

  color: var(--white);

  z-index: 2;
}

.previewer-large figure figcaption h1 {
  margin-bottom: 1rem;
}

span {
  display: block;
}

.previewer-large figure figcaption p {
  margin-bottom: 3rem;
}

.cta-btn {
  padding: 1.5rem 3rem;

  border-radius: 5rem;

  background-color: var(--white);

  font-size: 1.3rem;
  font-family: 'Montserrat Bold', Helvetica, sans-serif;

  text-transform: uppercase;
}

/* Product highlight section */

.product-highlight {
  padding: 0 2rem;
}

.product-highlight div {
  margin-bottom: 2rem;
}

.product-highlight div > p {
  text-transform: uppercase;
}

.product-highlight div > p:first-of-type {
  font-family: 'Montserrat Bold', Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;

  color: var(--gray);
}

.product-highlight h2 {
  font-family: 'Montserrat Bold', Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.product-highlight a,
#mens_shop main section:last-of-type a {
  font-family: 'Roboto Bold', Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
  text-decoration: underline;
}

.previewer-small {
  display: flex;

  width: 100%;
}

.previewer-small a {
  width: 100%;
  
  margin-right: 1rem;

  text-decoration: none;
}

.previewer-small img {
  width: 100%;
}

.previewer-small a li figure figcaption p:first-of-type {
  font-size: 1.1rem;
  font-weight: 700;

  padding: .2rem .5rem;
  margin-bottom: .5rem;

  color: var(--black);
  border-left: .3rem solid var(--black);

  text-transform: uppercase;
}

.previewer-small a li figure figcaption p:nth-of-type(2) {
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-bottom: .5rem;

  color: var(--light-gray);
}

.previewer-small a li figure figcaption p:last-of-type {
  font-weight: 700;
}

/* double preview css */
.previewer-double {  
  margin: 0 2rem;

  overflow: hidden;
}

.previewer-double figure {
  position: relative;
  margin-bottom: 1rem;

  width: 100%;
  overflow: hidden;
  background-color: var(--light-gray);

  text-transform: uppercase;
}

.previewer-double figure > img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  transform: scale(1.5) translate(-10px, 20px);
}

.previewer-double > figure:first-of-type figcaption {
  position: absolute;
  bottom: 10rem;
  right: 1rem;

  color: var(--white);
}

.previewer-double > figure:first-of-type figcaption h2 {
  position: absolute;
  bottom: 3rem;
  right: 1rem;

  font-size: 3.2rem;
  line-height: 3.8rem;

  margin-bottom: 3rem;
  text-align: right;
}

.previewer-double > figure:last-of-type figcaption {
  position: absolute;
  bottom: 9rem;
  left: 1rem;

  color: var(--white);
}

.previewer-double > figure:last-of-type figcaption h2 {
  font-size: 3.2rem;

  line-height: 3.8rem;
  margin-bottom: 3rem;
}

/* informationslider css  */

.info-slider {
  padding: 3rem 2rem;
  background-color: var(--darkest-white);
}

.info-slider ul {
  display: flex;
  overflow: scroll;
}

.info-slider ul li {
  padding: 3rem 1rem;
  margin-right: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  flex: 1 1 0px;

  min-width: 29.5rem;
}

.info-slider ul li:first-of-type {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Payment_Method_720x.webp);
}

.info-slider ul li:nth-of-type(2) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Student_Discount_Banner_720x.webp);
}

.info-slider ul li:last-of-type {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Student_Discount_fcba4a9c-f36b-4e4e-8e2f-95113efa3edb_720x.webp);
}


.info-slider ul li a h2 {
  color: var(--white);
  margin-bottom: 2rem;
}

/* article styling */

article {
  padding: 2.4rem;
  margin: 1.6rem;

  border: .1rem solid var(--lighter-gray);
}

article h3 {
  font-family: 'Montserrat Regular', Helvetica, sans-serif;
  font-size: 1.4rem;

  font-weight: 700;

  text-transform: uppercase;
}

article p {
  color: var(--light-gray);

  font-family: 'Roboto Regular', Helvetica, sans-serif;
  font-size: 1.4rem;
}

#homepage main section:last-of-type {
  background-color: var(--black);
  color: var(--white);
  
  width: 100%;

  padding: 2rem 0;
}

main section:last-of-type section {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  margin: 0 auto;

  min-width: 20rem;
  max-width: 80%;
  position: relative;
}

main section:last-of-type section p {
  font-family: 'Montserrat Regular', Helvetica, sans-serif;

  margin: 0 0 2rem;
  font-size: 1.5rem;

  width: 70%;
}

/* start footer styling */

footer > a {
  display: flex;
  justify-content: center;
  text-align: center;

  padding: 2rem 0;
  align-items: center;
  background-color: var(--gray);
  color: var(--white);
  width: 100%;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
} 

/* extraction of inline svg css */

footer > a > svg {
  fill: var(--white);
  clip-rule: evenodd;
  fill-rule: evenodd;
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1.5rem;
}

footer section:first-of-type ul {
  display: flex;
  flex-direction: column;

  margin: 1rem 2rem 0;

  border-bottom: 2px solid var(--darkest-white);
}

footer section:first-of-type ul > a li{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  margin: 0;
  position: relative;
  text-align: left;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: var(--black);
  cursor: pointer;
  border-top: 1px solid var(--darkest-white);
}

footer section:nth-of-type(2) {
  margin: 2rem 2rem 0;
}

footer > section:nth-of-type(2) ul {
  display: flex;
  width: 100%;
  overflow: scroll;
}

footer > section:nth-of-type(2) h3 {
  font-family: 'Montserrat Regular', Helvetica, sans-serif;
  font-size: 1.4rem; 
  text-transform: uppercase;
  
  line-height: 1.1;

  margin-bottom: 1.5rem ;
}

footer > section:nth-of-type(2) a {
  display: flex;
  flex-direction: column;
  
  min-width: 17.5rem;

  margin-right: 1rem;
  background-color: var(--darkest-white);
}

footer > section:nth-of-type(2) a img {
  width: 100%;
  height: 9.6rem;
}

footer > section:nth-of-type(2) a li h2 {
  font-family: 'Montserrat Bold', Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* socials styling */

footer > ul:first-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  margin-top: 3rem;
}

footer > ul:first-of-type li {
  margin-right: 1rem;
}

footer > ul:first-of-type li a svg {
  width: 2.4rem;
  height: 2.4rem;
}

footer > div {
  display: flex;
  width: 100%;
  justify-content: center;

  margin-top: 2rem;
}

div > button svg:first-of-type {
  height: 1.6rem;
  width: 1.6rem;

  margin-right: .6rem;
}

div > button svg:last-of-type {
  height: 1.6rem;
  width: 1.6rem;
}

footer > ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
  margin: 2.5rem  0;
}

footer > ul:nth-of-type(2) li {
  margin-bottom: .7rem;
}

footer > ul:nth-of-type(2) li a {
  font-family: 'Roboto Bold', Helvetica, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;

  color: var(--gray);

  line-height: 1.9rem;
}

/* payment method styling */

footer section:last-of-type {
  width: 100%;
}


footer section:last-of-type > ul:last-of-type {
  display: flex;
  justify-content: center;

  width: 100%;

  margin-bottom: 1.5rem;
}

footer section:last-of-type > ul:last-of-type li {
  display: inline;
  margin-right: 1rem;
}

footer section:last-of-type > ul:last-of-type li svg{
  height: 2.5rem;
  width: auto;
}

footer section:last-of-type > ul:last-of-type li svg:last-of-type defs{
  fill: var(--svg-fill-whitegreen);
}

footer section:last-of-type > ul:last-of-type li:last-of-type{
  margin-right: 0;
}

/* copyright styling */

footer > p {
  font-size: 1.4rem;
  text-align: center;
  color: var(--dark-gray);

  padding: 1.5rem 2rem;

  border-top: 0.1rem solid #e3e3e3;
}


/* styling mens shop page */

#mens_shop header > h1 {
  background: 0% 0% / cover var(--darker-white);

  font-size: 1.4rem;

  text-align: center;
  padding-top: 6.8rem;
  padding: 10rem 3.2rem 3.2rem 3.2rem;
}

#mens_shop header > h1 > span {
  font-size: 2.5rem;
}

#mens_shop header > ul:first-of-type {    
  padding: 1.5rem;
  justify-content: space-between;
}

#mens_shop header > ul li {
  font-size: 1.2rem;
  font-family: 'Montserrat Bold', Helvetica, sans-serif;
  text-transform: uppercase;
  display: flex;
  cursor: pointer;
}

  #mens_shop header > ul li:first-of-type svg {
    margin-left: 1rem;
  }

  #mens_shop header > ul li:last-of-type button:first-of-type {
    margin-right: 3rem;
  }

  #mens_shop header > ul:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    padding: 2.5rem 0  0;
    overflow-x: scroll;
  }

  #mens_shop header > ul:last-of-type li{
    font-family: 'Montserrat Bold', Helvetica, sans-serif;
    font-size: 1.4rem;
    flex-shrink: 0;
    padding: 0 1.5rem 1rem;
    border-bottom: .1rem solid var(--lighter-gray);
  }

  #mens_shop header > ul:last-of-type li  {
    position: relative;
  }

  #mens_shop header > ul:last-of-type li.active::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    height: .3rem;
    width: 100%;

    background-color: var(--black);
  }

#mens_shop .product-highlight {
  margin-top: 1rem;
}

#mens_shop .previewer-large figure figcaption h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

#mens_shop .previewer-large figure figcaption p {
  font-size: 1.6rem;

  margin-top: 2rem;
}

#mens_shop main > section:last-of-type {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 6rem 2rem 4rem;
}

#mens_shop main > section:last-of-type button {
  padding: 1.5rem 3rem;
  margin-bottom: 1.5rem;

  align-self: center;

  border-radius: 5rem;

  color: var(--white);
  background-color: var(--black);

  font-size: 1.3rem;
  font-weight: 800;

  text-transform: uppercase;
}

#mens_shop main > section:last-of-type p {
  font-size: 1.4rem;
  font-family: 'Roboto Regular', Helvetica, sans-serif;
  
  color: var(--dark-gray);
  margin-top: 1.5rem;
}

/* Hamburger menu styling */

header > fieldset {
  width: 100%;
  height: 100%;
  /* position: fixed;
  top: 0;
  left: 0; */
  overflow: hidden;
  background-color: var(--white);
  transition: left 300ms ease-in-out 0s;
  z-index: 999;
}

header > fieldset > section:first-of-type {
  display: flex;
  padding: 3rem 2rem 1rem;
}

header > fieldset > section:first-of-type > button{
  display: flex;
  width: 4rem;
  justify-content: center;
  align-items: center;
}

  header > fieldset > section:first-of-type > button:first-of-type {
    flex: 10 1 0%;
    justify-content: flex-start;
  }

header > fieldset > section:first-of-type > button > svg {
  width: 1.8rem;
  height: 1.8rem;
}

header > fieldset > section:first-of-type,
header > fieldset > section:nth-of-type(2) {
  display: flex;
  justify-content: center;

  font-size: 1.6rem;
  font-family: 'Montserrat Bold', Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0 0 1rem;
}

header > fieldset > section a {
  text-align: center;
  width: 10rem;
  
  padding: 1rem;
}

header > fieldset > section:nth-of-type(2) a:first-of-type {
  border-bottom: 0.2rem solid var(--black);
}

header > fieldset > section:nth-of-type(2) a:last-of-type {
  border-bottom: 0.2rem solid var(--lighter-gray);
}

fieldset > nav {
  flex: 2 1 0%;
  padding-top: 2.5rem;
}

fieldset > nav > ul > li > h2 {
  display: inline-block;
  margin: 0 0 .5rem;
  font-size: 1.6rem;
  font-weight: 700;

  text-transform: uppercase;
}

fieldset > nav > ul > li {
  padding: 0 1.6rem 2.8rem;
  break-inside: avoid;
}

fieldset > nav a {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Roboto Regular', Helvetica, sans-serif;
  color: var(--gray);

  text-transform: capitalize;

  line-height: 3rem;
}

/* Door tijd nood is het niet gelukt om de rest van het menu af te maken, ik laat dit wel staan voor wanneer ik het af maak */

/* fieldset > section:last-of-type {
  font-family: 'Montserrat Bold', Helvetica, sans-serif;
  text-transform: uppercase;

  width: 100%;

  margin: 1rem 0px 1.6rem 1.6rem;
}

fieldset >  h3 {
  margin-bottom: 1rem;
}

fieldset > section:last-of-type ul {
  display: flex;
  width: 100%;

  overflow: scroll;
}

fieldset > section:last-of-type ul a {
  min-width: 29.5rem;
}

fieldset > section:last-of-type ul a img {
  height: 13rem;
} */


form {
  z-index: 999;
	background-color:var(--white);
	
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	
	width: 100%;
	transform:translateX(-100%);
	
	transition:.5s;
}

form.showForm {
	transform:translateX(0%);
}